*{
	margin:0;
	padding:0;
}
body{
	font:90% calibri,sans-serif;
	text-align:center;
	background: url("images/1.png");
	background-color: #f0869a;
    height:700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
div.header{
	background-color:#F63155;
}
div.header h1{
	height:80px;
	line-height:80px;
	margin:0;
	padding-left:10px;
	color: white;
}
div.container{
	height: auto;
	width: 700px;
	margin:0 auto;
}
div.wrapper{
	float:right;
	width:500px;
}
div.wrapper p{
	line-height:1.5;
	text-align:justify;
}
div.navigation{
	float:left;
	height:500px;
	width:150px;
	background:#f0869a;	
}
ul{
list-style-type:none;
}
li a{
	color: black;
	text-decoration: none;
	padding: 8px 16px;
	font-family:poppins;
	font-size: 15px;
}
li a:hover{
	background: #fff;
	color: #333;
}
div.navigation li{
margin-bottom: 5px;
}
div.footer {
	clear:both;
}
div.footer {
	margin:0;
	padding:5px 10px;
}
p{ 
margin:0 10px 10px;
}
.heading{
	text-align:center;
}
h3{
	
}
.center{
	height: auto;
	width:300px;
	margin-left:100px;
}
label,input,button,select,textarea{
	display:block;
	margin-top:5px;
	margin-bottom:5px;
}
input,select,textarea{
	width:100%;
}
.success{
	color:green;
	text-align: left;
}
.error{
	color:red;
	text-align: left;
}
.record{
	list-style-type:none;
}
.record li{
	
	margin-top:15px;
}
table{
	width:100%;
border-collapse:collapse;	
}
table td,table th{
	border:2px solid #F63155;
	padding:5px;
}
.btnr{
	border-radius:2.5px;
	padding:2.5px;
	background:#F63155;
	color:white;
	
}